#resources p {
    margin: 15px 0;
    font-family: "Roboto Flex", sans-serif;
}

#resources h5 {
    margin: 0;
}

/*** Tabs ***/
.tabs {
    display: flex;
    flex-wrap: wrap; // make sure it wraps
}

.tabs label {
    order: 1; // Put the labels first
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #e8e6e6;
    font-weight: bold;
    transition: background ease 0.2s;
}

.tabs .tab {
    order: 99; // Put the tabs last
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #8ec8cc;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    background: #8ec8cc;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
    padding: 20px;
}

@media (max-width: 45em) {

    .tabs .tab,
    .tabs label {
        order: initial;
    }

    .tabs label {
        width: 100%;
        margin-right: 0;
        margin-top: 0.2rem;
    }
}


/************************************************************************************/

.FAQ {
    height: auto !important;
    /*        background-color: #e8e6e6;*/
    padding: 15px;
    margin: 10px;
    /*    border-radius: 15px;*/
    display: flex;
    flex-wrap: wrap;

}

.FAQ h3 {
    font-size: 30px;
    text-align: center;
    /*    margin-left: 20px;*/
}


.list {
    display: none;
    height: auto;
    margin: 0;
}

.FAQ p {
    margin: 10px 0;
}

.show {
    display: none;
}

.hide:target + .show {
    display: inline;
}

.hide:target {
    display: none;
}

.hide:target ~ .list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
}

/*style the (+) and (-) */
.hide,
.show {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    background: #fff;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    box-shadow: 4px 4px black;
    border: 1px solid black;
}

.hide:hover,
.show:hover {
    /*    color: #000;*/
    background-color: #8ec8cc;
    text-decoration: none;
}

/************************************************************************************/


.card {

    width: 20%;
    padding: 10px;
    display: inline-block;
    margin: 15px auto;
    border: 3px solid black;
    background-color: #fff;
    /*    text-align: center;*/

}

.card h5 {
    text-align: center;
    border-bottom: 2px solid black;
}

.card p {
    margin: 0 auto;
}

.card a {
    color: #61adb3;
    padding: 5px;
    font-family: "Playfair Display", sans-serif;
}

.card a:hover {
    background-color: #8ec8cc;
    color: black;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.7);
}
