#index,
#start,
#assistance,
#self,
#behalf,
#symptoms,
#tips,
#emergency {
    min-height: 85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.disclaimer p,
.start p {
    flex: 0 0 80%;
    margin-bottom: 10px;
    text-align: center;
}

.btns {
    /*    height: 50px;*/
    padding: 10px;
}

#start .selection,
#index .btns,
#index button,
#start button {
    width: 100%;
    height: 70px;
    padding: 20px;
}

#assistance .selection,
#self .selection,
#behalf .selection,
#symptoms .selection,
#tips .selection {
    width: 100%;
    /*    background-color: aquamarine;*/
    display: flex;
    justify-content: center;
}

#assistance button,
#self button,
#behalf button,
#symptoms button,
#tips button {
    height: 300px;
    width: 100%;
    border-radius: 0;
    padding: 20px;
}

#assistance .btns,
#self .btns,
#behalf .btns,
#tips .btns {
    flex: 0 0 40%;
}

#symptoms .btns {
    flex: 0 0 30%;
}

.sourcelink {
    color: #61adb3;
    padding: 5px;
    font-family: "Playfair Display", sans-serif;
    font-size: 20px;
}

.sourcelink:hover {
    background-color: #8ec8cc;
    color: black;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.7);
    text-decoration: none;

}


.condition {
    flex: 0 0 100%;
}

.condition,
.condition-description p,
.condition-description li,
.support p,
#support2 p,
#mentalwellbeing p,
#stressbusting p {
    margin: 10px;
    font-family: "Roboto Flex", sans-serif;
    font-size: 20px;
}

.condition-description ul {
    margin-left: 40px;
}
