/*************************************                      SUPPORT 1 *************************************/

.commonsigns {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
}

.cs1,
.cs2,
.cs3,
.cs4 {
    flex: 1 1 20%;
    text-align: center;
    background-color: #61adb3;
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
}

.cs1 i,
.cs2 i,
.cs3 i,
.cs4 i {
    font-size: 150px;
}

.commonsigns p {
    font-family: "Playfair Display", serif;
    margin: 15px;
}

.cs1:hover,
.cs2:hover,
.cs3:hover,
.cs4:hover {
    background-color: #8ec8cc;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

#FAQ {
    display: flex;
    flex-wrap: wrap;
    /*    vertical-align: top;*/
    align-items: stretch;
}

.m1,
.m2,
.m3 {
    width: 30%;
    margin: auto;
    justify-content: top;
}

/* source: http://www.ehow.com/how_12214447_make-collapsing-lists-java.html */
.FAQ {
    height: auto !important;
    background-color: #e8e6e6;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;

}

.FAQ h3 {
    font-size: 30px;
}


.list {
    display: none;
    height: auto;
    margin: 0;
    /*    float: left;*/
}

.FAQ p {
    margin: 10px 0;
}

.show {
    display: none;
}

.hide:target + .show {
    display: inline;
}

.hide:target {
    display: none;
}

.hide:target ~ .list {
    display: inline;
}

/*style the (+) and (-) */
.hide,
.show {
    width: 100%;
    padding: 5px;
    border-radius: 30px;
    font-size: 20px;
    color: #000;
    text-align: center;
    text-decoration: none;
    background: #61adb3;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
}

.hide:hover,
.show:hover {
    /*    color: #000;*/
    background-color: #8ec8cc;
    text-decoration: none;
}

.proceed-support2 {
    margin: 20px 0;
    background-image: url(../assets/5773404.jpg);
    background-repeat: no-repeat;
    background-color: #61adb3;
    border-radius: 15px;
    padding: 40px;
    /*    background-size: contain;*/
    background-position: right;
    text-align: center;
    /*    align-content: center;*/
}

.proceed-support2 a {
    color: black;
}

.proceed-support2:hover {
    /*    opacity:0.8;*/
    background-position: left;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.7);

}

/*************************************                      SUPPORT 2 *************************************/
#support2 h2 {
    font-family: "Playfair Display", sans-serif;
    font-weight: 800;
    flex: 0 0 100%;
    text-transform: capitalize;
    font-size: 70px;
}

.carousel-inner {
    background-image: url(../assets/less-more-than.png);
    background-color: #e8e6e6;
    background-repeat: repeat;
    background-size: cover;
    /*    height: 450px;*/
    margin: auto;
}

.carousel-item {
    padding: 120px;
}

.carousel-item h3 {
    text-align: center;
}

.carousel-item .s2-importance {
    padding: 60px;
    width: 80%;
    margin: auto;
    /*    color: white;*/
    text-align: center;
    background-color: white;
    /*    padding: 150px;*/
}

.support2-reachout {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.support2-reachout h2 {
    flex: 0 0 50%;
}

.support2-reachout .support2-text {
    flex: 0 0 75%;
    margin-right: 20px;
}

.support2-reachout .support2-banner {
    background-image: url(../assets/banner_good%20vibes%201.jpg);
    height: 400px;
    background-repeat: no-repeat;
    flex: 0 0 18%;
    background-size: contain;
    margin-left: auto;
    cursor: pointer;
}

#support2 .proceed-tips {
    margin: 20px;
    text-align: center;
}



#support2 .proceed-tips div {
    padding: 30px;
    margin-left: 100px;
}

#support2 .proceed-tips button {

    background-image: url(../assets/folder@2x.png);
    background-size: 32%;
    background-repeat: no-repeat;
    background-color: transparent;
    box-shadow: none;
    text-transform: uppercase;
}

#support2 .proceed-tips button p {
    font-size: 35px;
}

#support2 .proceed-tips button:hover {
    color: #61adb3;
}
